:root {
    --main-color: #0b1526;
    --dark-color: #000716; 
    --secondary-dark-color: rgb(15, 2 , 26);
    --light-color: #00clf3;
    --contrast-color: #f4c96b;
    --differential-color: #58fcd5;
}

body {
    background-color: var(--dark-color) !important;
    color: rgb(254, 253, 255) !important;
}
  