:root {
    --main-color: #0b1526;
    --dark-color: #000716;
    --secondary-dark-color: rgb(15, 2 , 26);
    --light-color: #00clf3;
    --contrast-color: #f4c96b;
    --differential-color: #58fcd5;
}

body {
    background-color: var(--dark-color) !important;
    color: rgb(55, 29, 171) !important;
}

.bg1 {

    background-image: url('/static/usuarios/img/bg1.png') !important;
    height: 100vh;
    background-size: cover;
    background-color: var(--main-color);
    color: var(--light-color);
    padding: 20px;
}

.box-titulo {
    display: flex;
    align-items: center;
}

.box-titulo-item img {
    /* Adicione estilos de imagem, se necessário */
    max-width: 100%;
    height: auto;
}

.msg {
    margin-top: auto;
    margin-bottom: auto;
}

.divisor {
    border: 1px solid var(--secondary-dark-color);
    margin-top: 20px;
}

.tac {
    text-align: center;
}

.d-flex.justify-content-start {
    justify-content: flex-start;
}

.box-form {
    margin-top: 20px;
}


.box-cicle {
    display: flex;
    gap: 10px; /* Adicione o espaçamento desejado aqui */
    margin-bottom: 20px;
    justify-content: end;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--contrast-color);
}

.col-md-4 {
    max-width: 300px; /* Largura máxima da coluna */
    margin: 0; /* Alinhe a coluna à esquerda */
}

h3, h4 {
    color: var(--differential-color);
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    color: white; /* Cor do texto dos labels */
}

.btn-primary {
    background-color: var(--contrast-color);
    border-color: var(--contrast-color);
}

.btn-primary:hover {
    background-color: var(--differential-color);
    border-color: var(--differential-color);
}

.input-custom {
    /* Ajuste a largura desejada para os inputs */
    width: 100%; /* 100% da largura do container pai (col-12) */
    max-width: 300px; /* ou defina um valor máximo se preferir */
}
.circle.c1 {
    background-color: #ff0000; /* Cor do primeiro círculo */
}

.circle.c2 {
    background-color: #00ff00; /* Cor do segundo círculo */
}

.circle.c3 {
    background-color: #0000ff; /* Cor do terceiro círculo */
}